#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  width: 5%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 60vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  border-radius: 5px;
  color: white;
  height: 100vh;
  background: black;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  list-style-type: none;
  padding: 10px 0;
  font-size: 30px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

#menu > li {
  color: white;
}

html {
  margin: 0;
  padding: 0;
  background: url(../img/flame.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;
}

.main__container {
  display: flex;
  width: 100vh;
  height: auto;
}

.aboutme__body > h1 {
  text-align: left;
}

.aboutme__body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Montserrat", "Avenir Next", "Avenir", sans-serif;
  background-size: 100%;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.6s ease;
}

a:hover {
  color: grey;
}

.aboutme__section {
  height: 50%;
  margin-top: 70px;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

.aboutme__section > p {
  margin-left: 25px;
}

.aboutme__section--expe {
  text-align: left;
  margin-top: 20px;
  padding: 2%;
  margin-left: 10px;
  margin-right: 10px;
}

.aboutme__section--form {
  text-align: left;
  margin-top: 30px;
  padding: 2%;
  margin-left: 10px;
  margin-right: 10px;
}

.aboutme__section--cent {
  margin-top: 30px;
  padding: 2%;
  margin-left: 10px;
  margin-right: 10px;
}

.aboutme__section--cent > a:hover {
  color: grey;
}

.body__pic {
  margin: 0 auto;
}

.aboutme__section--hob {
  margin-top: 30px;
  padding: 2%;
  margin-left: 10px;
  margin-right: 10px;
}

.aboutme__icons {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.aboutme__section--cent > a {
  color: white;
  text-align: center;
}

h2 {
  text-decoration: underline;
  text-align: center;
}

.aboutme__name {
  margin-left: 35px;
}

.desktop {
  display: none;
}

i:hover {
  transform: scale(1.3);
}

@media screen and (min-width: 450px) {
  .container {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }

  .body__pic {
    margin-top: 30px;
  }

  .aboutme__icons {
    text-align: center;
  }
}
@media screen and (min-width: 1000px) {
  .aboutme__section > p {
    margin-left: 30%;
    margin-right: 30%;
  }

  .aboutme__section--expe {
    text-align: center;
  }

  .aboutme__section--form {
    text-align: center;
  }

  .aboutme__section--cent {
    text-align: center;
  }

  .aboutme__section--hob {
    text-align: center;
  }

  .container {
    margin-right: 28%;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: initial;
  }

  html {
    font-size: 1.5em;
  }
}
a {
  text-decoration: none;
  color: white;
  transition: color 0.6s ease;
}

a:hover {
  color: grey;
}

.projets {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (min-width: 450px) {
  .projets__first > p {
    text-align: left;
    margin-left: 15px;
  }
}
@media screen and (min-width: 1000px) {
  .projets__first {
    margin-left: 40%;
    margin-right: 40%;
  }

  .projets {
    text-align: center;
  }
}
.contactme__body > a {
  text-decoration: none;
  color: white;
  transition: color 0.6s ease;
}

.contactme__body > a:hover {
  color: grey;
}

.contactme__icon {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.contactme__mail, .contactme__loca, .contactme__phone {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 35px;
  font-size: 1em;
  padding: 5%;
  margin-top: 15px;
  text-align: center;
  border: solid 3px white;
  margin-bottom: 30px;
}

@media screen and (min-width: 450px) {
  .contactme__body {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
  }

  .contactme__phone, .contactme__loca, .contactme__mail {
    width: 35%;
  }
}
@media screen and (min-width: 1000px) {
  .contactme__phone, .contactme__loca, .contactme__mail {
    width: 25%;
  }
}

/*# sourceMappingURL=main.css.map */
