
.contactme__body>a{
  text-decoration: none;
  color:white;
  transition: color 0.6s ease;
}

.contactme__body>a:hover
{
  color:grey;
}

.contactme__icon{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;

}


.contactme__mail,.contactme__loca,.contactme__phone{
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 35px;
  font-size: 1em;
  padding: 5%;
  margin-top: 15px;
  text-align: center;
  border: solid 3px white;
  margin-bottom: 30px;
}


@media screen and (min-width:450px){
  
  .contactme__body{
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
  }

  .contactme__phone,.contactme__loca,.contactme__mail{
    width: 35%;
  }

}

@media screen and (min-width:1000px){
  .contactme__phone,.contactme__loca,.contactme__mail{
    width: 25%;
  }
}






