.main__container{
    display: flex;
    width:100vh;
    height: auto;
}

.contactme__body
{
  margin: 0;
  padding: 0;
  color:black;
  font-family: "Montserrat","Avenir Next", "Avenir", sans-serif;
  background-size: 100%;
  background-image: radial-gradient(circle, #b2c6c6, #96bbc1, #7aaec0, #63a0c1, #5591c1, #4480ae, #32709c, #1f608a, #074b64, #0a3540, #0d1f22, #030404);
  
}


a{
  text-decoration: none;
  color:gray;
  transition: color 0.6s ease;
}

a:hover
{
  color:white;
}

.contactme__body{
  font-size: 1.5em;
}

.contactme__phone{
  background-color: crimson;
  margin-left: 20px;
  margin-right: 20px;
  border-radius:10px;
  font-size: 0.7em;
  padding: 5%; 
}

.contactme__mail{
  background-color: darkblue;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  font-size: 0.7em;
  padding: 5%;
  margin-top: 15px;
}

.contactme__loca{
  background-color: deeppink;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  font-size: 0.7em;
  padding: 5%;
  margin-top: 15px;
}

.contactme__body>h1{
  font-size: 1.5em;
  text-align: center;
  margin-top: 70px;
  text-decoration: underline;
}

.contactme__icon{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;

}





