.main__container{
    display: flex;
    width:100vh;
    height: auto;
}

.home__body
{
  margin: 0;
  padding: 0;
  color:white;
  font-family: "Montserrat","Avenir Next", "Avenir", sans-serif;
  background-image: url(../img/moi-mini.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  
}

.home__body>img{
  width: auto;
  height:100%;
}

a{
  text-decoration: none;
  color:grey;
  transition: color 0.6s ease;
}

a:hover
{
  color:white;
}

.home__body>h1{
  font-size: 3em;
  margin: 0.67em 0;
  position: relative;
  top: 50px;
  left: 15px;
}
