html { 
  margin:0;
  padding:0;
  background: url(../img/flame.jpg) no-repeat center fixed; 
  -webkit-background-size: cover;
  background-size: cover;
}

.main__container{
    display: flex;
    width:100vh;
    height: auto;
}

.aboutme__body>h1{
  text-align:left;
}

.aboutme__body
{
  margin: 0;
  padding: 0;
  color:white;
  font-family: "Montserrat","Avenir Next", "Avenir", sans-serif;
  background-size: 100%;
  
}

a{
  text-decoration: none;
  color:#7DDFE3;
  transition: color 0.6s ease;
}

a:hover
{
  color:grey;
}

.aboutme__section{
  height: 50%;
  margin-top: 70px;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: #030404 solid 2px;
}

.aboutme__section>p{
margin-left: 25px;
}

.aboutme__section--expe{
  text-align: left;
  margin-top: 20px;
  padding: 2%;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: #030404 solid 2px;
}

.aboutme__section--form{
  text-align:left;
  margin-top: 30px;
  padding: 2%;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: #030404 solid 2px;
}

.aboutme__section--cent{
  margin-top: 30px;
  padding: 2%;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: #030404 solid 2px;
}

.aboutme__section--cent>a:hover{
  color:grey;
}

.body__pic{
  opacity: 0.8;
  margin-left: 50px;
}

.aboutme__section--hob{
  margin-top: 30px;
  padding: 2%;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-flex;
  flex-direction:row;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: #030404 solid 2px;
}

.aboutme__icons{
  display: inline-flex;
  flex-direction:row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.aboutme__section--cent>a{
  color: white;
  text-align: center;
}

h2{
  text-decoration: underline;
  text-align: center;
}

.aboutme__name{
  margin-left: 35px;
}

@media screen and (min-width:450px){

.container{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

}











